*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(106, 90, 205);
    color: white;
}
header{
    padding: 15px 5%;
    text-emphasis-color: white;
    background-color: rgb(242, 240, 248);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid transparent;

    
}
.navlist.open{
    top: 100%;

}
.navlist{
    display: flex;
    
    top: 1000px;
    right: 0px;
    right: 0px;
  
    
    background: rgb(81, 69, 158)var(--bg-color);
    padding: 0px 5%;
    transition: 0.45s;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;

}
li{
    float: left;


}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(129, 12, 94);
}